@import "tailwindcss";

@theme {
  --font-family-headings: "Space Grotesk", sans-serif;
  --font-family-paragraph: "Poppins", sans-serif;
}

@custom-variant hover (&:hover);

body {
  background-color: black;
}

::selection {
  @apply bg-indigo-500 text-white;
}
